#Build an Organizational Hierarchy with a simple employee census

Given a standard employee census flat file containing employee ID, name, role, and manager, I wanted to build a quick way to arrange employees into an organizational hierarchy showing full reporting lines. As such, I built a function that takes a census flat file (as a dataframe) and the ID of the "top employee" i.e. whomever sits at the top of the organization strucutre - in this case the CEO.

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive

In [2]:
# mount google drive to access dummy data saved there
drive.mount('/content/drive')

Mounted at /content/drive

In [119]:
# load dummy data into dataframe - fill any blanks with 'XX'
df_path = '/content/drive/My Drive/colabData/DummyCensus.xlsx'
df = pd.read_excel(df_path)
df = df.fillna('XX')
df.head(25)

     EmpID            EmpName              EmpTitle EmpReportsTo
0   Emp001         Jones, Jim                   CEO           XX
1   Emp002        Barnes, Bob          SVP, Product       Emp026
2   Emp003      Carlton, Hans    Manager, Marketing       Emp022
3   Emp004       Seeler, Chad    Analyst, Marketing       Emp003
4   Emp005  Bobthorton, Billy    Analyst, Marketing       Emp025
5   Emp006       Dolf, A. Hit             Ombudsman       Emp001
6   Emp007      Irons, Jeremy           VP, Finance       Emp013
7   Emp008     Barnes, Bob D.        VP, Accounting       Emp013
8   Emp009       Bruce, Lenny      SVP, Development       Emp001
9   Emp010      McGee,  Jenny      Manager, Finance       Emp007
10  Emp011        Goena, Jack   Manager, Accounting       Emp008
11  Emp012      Lockhart, Cal      Analyst, Product       Emp016
12  Emp013       Foxtrot, Liz                   CFO       Emp001
13  Emp014          Joe, G.I.        Chief of Staff       Emp001
14  Emp015       Gross, Terry         Legal Counsel       Emp006
15  Emp016       Duff, Hilary      Manager, Product       Emp002
16  Emp017      Diaz, Cameron       SVP, Operations       Emp013
17  Emp018     Pitt, Jennifer   Manager, Operations       Emp017
18  Emp019     Harris, Kamalo   Analyst, Operations       Emp018
19  Emp020         Keytar, Lo    Staff Accountant I       Emp011
20  Emp021       Doe, Jane J.   Staff Accountant II       Emp011
21  Emp022        Who, Doktor                   CMO       Emp001
22  Emp023    Marvel, Captain  Sr. Analyst, Finance       Emp010
23  Emp024      Danes, Stevie  Manager, Development       Emp009
24  Emp025         Pup, Jimbo    Manager, Marketing       Emp022

In [143]:
def buildOrg(df, top):
  
  # define varibles for iteration
  i = 1
  check = False
  r_suffix = '_' + str(i)

  if i - 1 == 0:
    l_key = 'EmpID'
  else:
    l_key = 'EmpID_' + str(i-1)
  
  sort_list = ['EmpID']

  # match all employees reporting to top of hierarchy
  df_lookup = df[df['EmpID']==top]

  # match to employee downline as long as the resulting set is not empty
  while check == False:

    if i - 1 == 0:
      l_key = 'EmpID'
    else:
      l_key = 'EmpID_' + str(i-1)
    
    df_lookup = df_lookup.merge(df, how='left', left_on=l_key, right_on='EmpReportsTo', suffixes=('', r_suffix))
    check = df_lookup[l_key].isnull().all()
    
    # increment
    i = i + 1
    r_suffix = '_' + str(i)
    sort_list.append(l_key)
  
  # clean up the resulting dataframe and output
  df_new = df_lookup

  for (columnName, columnData) in df_lookup.iteritems():
    if 'EmpReportsTo' in str(columnName):
      df_new = df_new.drop(columnName, axis=1)
    elif df_lookup[columnName].isnull().all():
      df_new = df_new.drop(columnName, axis=1)
  
  # sort dataframe
  sort_list = sort_list[:-1]
  sort_list.reverse()
  df_new = df_new.sort_values(by=sort_list, ascending=False)

  return df_new

In [148]:
# store the output 
df_org = buildOrg(df, 'Emp001')
df_org.head(10)

    EmpID     EmpName EmpTitle  ... EmpID_4        EmpName_4            EmpTitle_4
2  Emp001  Jones, Jim      CEO  ...  Emp023  Marvel, Captain  Sr. Analyst, Finance
4  Emp001  Jones, Jim      CEO  ...  Emp021     Doe, Jane J.   Staff Accountant II
3  Emp001  Jones, Jim      CEO  ...  Emp020       Keytar, Lo    Staff Accountant I
5  Emp001  Jones, Jim      CEO  ...  Emp019   Harris, Kamalo   Analyst, Operations
9  Emp001  Jones, Jim      CEO  ...  Emp012    Lockhart, Cal      Analyst, Product
8  Emp001  Jones, Jim      CEO  ...     NaN              NaN                   NaN
7  Emp001  Jones, Jim      CEO  ...     NaN              NaN                   NaN
1  Emp001  Jones, Jim      CEO  ...     NaN              NaN                   NaN
0  Emp001  Jones, Jim      CEO  ...     NaN              NaN                   NaN
6  Emp001  Jones, Jim      CEO  ...     NaN              NaN                   NaN

[10 rows x 15 columns]

In [149]:
#transpose the output
df_t = df_org.transpose()
df_t.head(25)

                               2  ...               6
EmpID                     Emp001  ...          Emp001
EmpName               Jones, Jim  ...      Jones, Jim
EmpTitle                     CEO  ...             CEO
EmpID_1                   Emp013  ...          Emp014
EmpName_1           Foxtrot, Liz  ...       Joe, G.I.
EmpTitle_1                   CFO  ...  Chief of Staff
EmpID_2                   Emp007  ...             NaN
EmpName_2          Irons, Jeremy  ...             NaN
EmpTitle_2           VP, Finance  ...             NaN
EmpID_3                   Emp010  ...             NaN
EmpName_3          McGee,  Jenny  ...             NaN
EmpTitle_3      Manager, Finance  ...             NaN
EmpID_4                   Emp023  ...             NaN
EmpName_4        Marvel, Captain  ...             NaN
EmpTitle_4  Sr. Analyst, Finance  ...             NaN

[15 rows x 10 columns]